* {
  box-sizing: border-box;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#menu button:not(.menu-button) {
  margin: 10px 0;
  align-self: flex-start;
  margin-left: 20px;
}

header {
  position: relative;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0;
  text-align: center;
}

.menu-button {
  position: absolute;
  left: 20px;
  padding: 10px;
  margin-top: 10px;
}

#game {
  display: none;
  text-align: center;
}

#options {
    display: none;
    text-align: center;
}

#changeUsername {
  display: none;

  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  border: solid 2px black;
  padding: 20px;
}